@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section h1 {
        font-size: 3rem; /* 48px */
        line-height: 1 !important;
        font-weight: 700;
        margin-top: 1rem; /* 16px */
        margin-bottom: 1rem; /* 16px */
    }

    section h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        margin-top: 0.75rem; /* 12px */
        margin-bottom: 0.75rem; /* 12px */
    }

    section img {
        margin: 1.25rem auto;
    }

    /* ... */
}