@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    section h1 {
        font-size: 3rem !important; /* 48px */
        line-height: 1 !important;
        font-weight: 700 !important;
        margin-top: 1.5rem !important; /* 16px */
        margin-bottom: 1.5rem !important; /* 16px */
    }

    section h2 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
        font-weight: 700 !important;
        margin-top: 1rem !important; /* 12px */
        margin-bottom: 1rem !important; /* 12px */
    }

    section img {
        margin: 1.25rem auto;
    }

    section ol {
        list-style-type: decimal !important;
    }

    section ul {
        list-style-type: disc !important;
    }

    section p {
        margin-bottom: 1rem !important; /* 12px */
    }

    /* ... */
}