<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <!--    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

    <meta name="viewport" content="width=device-width">
</head>
<body>
<header class="vh-75">
    <div class="relative">
        <img src="https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
             alt="Your Image" class="w-full h-auto -mt-52">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center">
            <h1 class="text-4xl font-bold">{{ site.title | default: site.github.repository_name }}</h1>
            <p class="mt-5 italic">{{ site.description | default: site.github.project_tagline }}</p>
        </div>
    </div>
</header>
<section>

    <div class="container mx-auto flex">
        <div class="container mx-auto flex">
            <div class="w-0 lg:w-2/12 xl:w-1/6 2xl:w-1/4">
            </div>
            <div class="w-full lg:w-8/12 xl:w-4/6 2xl:w-2/4 text-center">
                {{ content }}
            </div>
            <div class="w-0 lg:w-2/12 xl:w-1/6 2xl:w-1/4">
            </div>
        </div>
    </div>
</section>
<footer>
    {% if site.github.is_project_page %}
    <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
</footer>
</div>
<!--<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>-->

{% if site.google_analytics %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
